apiVersion: v1
kind: ConfigMap
metadata:
  name: bowapp
  namespace: {{.Release.Namespace}}
data:
  {{- if (empty .Values.postgresql.auth.existingSecret) }}
  BOW_DATABASE_URL: postgresql://{{.Values.postgresql.auth.username}}:{{.Values.postgresql.auth.password}}@{{.Release.Name}}-postgresql:5432/{{.Values.postgresql.auth.database}}
  BOW_DEFAULT_LLM_API_KEY: {{.Values.config.defaultLLMApiKey | quote}}
  BOW_ENCRYPTION_KEY: {{.Values.config.encryptionKey | quote}}
  BOW_GOOGLE_CLIENT_ID: {{.Values.config.googleClientId | quote}}
  BOW_GOOGLE_CLIENT_SECRET: {{.Values.config.googleClientSecret | quote}}
  BOW_GOOGLE_AUTH_ENABLED: {{.Values.config.googleOauthEnabled | quote}}
  BOW_SMTP_HOST: {{.Values.config.smtp.host | quote}}
  BOW_SMTP_PORT: {{.Values.config.smtp.port | quote}}
  BOW_SMTP_USERNAME: {{.Values.config.smtp.username | quote}}
  BOW_SMTP_PASSWORD: {{.Values.config.smtp.password | quote}}
  BOW_SMTP_FROM_NAME: {{.Values.config.smtp.from_name | quote}}
  BOW_SMTP_FROM_EMAIL: {{.Values.config.smtp.from_email | quote}}
  BOW_SMTP_USE_TLS: {{.Values.config.smtp.use_tls | quote}}
  BOW_SMTP_USE_SSL: {{.Values.config.smtp.use_ssl | quote}}
  BOW_SMTP_USE_CREDENTIALS: {{.Values.config.smtp.use_credentials | quote}}
  BOW_SMTP_VALIDATE_CERTS: {{.Values.config.smtp.validate_certs | quote}}
  {{- end }}
  bowConfig: |
    # Deployment Configuration
    base_url: http://0.0.0.0:3000


    # Feature Flags
    features:
      allow_uninvited_signups: false
      allow_multiple_organizations: false
      verify_emails: false

    google_oauth:
      enabled: ${BOW_GOOGLE_AUTH_ENABLED}
      client_id: ${BOW_GOOGLE_CLIENT_ID}
      client_secret: ${BOW_GOOGLE_CLIENT_SECRET}

    encryption_key: ${BOW_ENCRYPTION_KEY}
    
    smtp_settings:
      host: ${BOW_SMTP_HOST}
      port: ${BOW_SMTP_PORT}
      username: ${BOW_SMTP_USERNAME}
      password: ${BOW_SMTP_PASSWORD}
      from_name: ${BOW_SMTP_FROM_NAME}
      from_email: ${BOW_SMTP_FROM_EMAIL}
      use_tls: ${BOW_SMTP_USE_TLS}
      use_ssl: ${BOW_SMTP_USE_SSL}
      use_credentials: ${BOW_SMTP_USE_CREDENTIALS}
      validate_certs: ${BOW_SMTP_VALIDATE_CERTS}

    intercom:
      enabled: true
